/* recipe-styles.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a calming background color */
/*body {*/
/*  background-color: #f7f7f7;*/
/*  font-family: Arial, sans-serif;*/
/*}*/


/* Container for recipe details */
.recipe-details-box {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
}

/* Recipe title */
.recipe-details-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Dark gray */
}

/* Recipe image */
.recipe-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

/* Ingredients list */
.recipe-details-box ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 16px;
  /*color: #555; !* Medium gray *!*/
}

/* Recipe instructions */
.recipe-details-box ol {
  list-style-type: decimal;
  margin-left: 20px;
  font-size: 16px;
  color: #555; /* Medium gray */
}

/* Material list item override */
.mat-list-item {
  padding: 0;
  margin: 0;
}


/* Footer attribution */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #888; /* Light gray */
}

/* Add responsive styles as needed */

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .recipe-details-box {
    padding: 15px;
  }
}
